<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
        <Title> Create new entry in database </Title>
    </head>
    <body bgcolor="#b3d9ff" >
    <div>
        <form class = "form" method ='POST' action= "{{ url_for('customer_edit') }}">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">First Name</label>
                    <input type="text" class="form-control" name="inputname" 
                </div>
                <div class="form-group col-md-6">
                    <label for="inputaddress">Last Name</label>
                    <input type="text" class="form-control" name="inputaddress"  
                </div>
            </div>
            <button type="submit" class="btn btn-default btn-light my-4">Save</button>
        </form>
    
        <button type="button" class="btn btn-secondary btn-light my-4" onclick="window.location.href='/customers'">Back</button>
    </div>
    <a href="/">Return</a>
</body>
