<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
        <Title> Create new entry in database </Title>
    </head>
    <body bgcolor="#b3d9ff" >
    <div>
        <form class = "form" method ='POST' action= "{{ url_for('create_entry') }}">
            <h3>Program</h3>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="prname">Name</label>
                    <input type="text" class="form-control" name="prname"
                </div>
                <div class="form-group col-md-6">
                    <label for="praddress">Adress</label>
                    <input type="text" class="form-control" name="praddress"
                </div>
                <p>{{errorprogram}}</p>
            </div>

            <h3>Deliverable</h3>
            <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="dptitle">Project Title</label>
                  <input type="text" class="form-control" name="dptitle"
              </div>
                <div class="form-group col-md-6">
                    <label for="dtitle">Deliverable Title</label>
                    <input type="text" class="form-control" name="dtitle"
                </div>
                <div class="form-group col-md-6">
                    <label for="dsummary">Summary</label>
                    <input type="text" class="form-control" name="dsummary"
                </div>
                <div class="form-group col-md-6">
                    <label for="ddate">Due date</label>
                    <input type="text" class="form-control" name="ddate"
                </div>

                <p>{{errordeliverable}}</p>
            </div>


            <h3>Program</h3>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">Name</label>
                    <input type="text" class="form-control" name="inputname"
                </div>
                <div class="form-group col-md-6">
                    <label for="inputaddress">Adress</label>
                    <input type="text" class="form-control" name="inputaddress"
                </div>
                <p>{{errorname}}</p>
            </div>


            <h3>Program</h3>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">Name</label>
                    <input type="text" class="form-control" name="inputname"
                </div>
                <div class="form-group col-md-6">
                    <label for="inputaddress">Adress</label>
                    <input type="text" class="form-control" name="inputaddress"
                </div>
                <p>{{errorname}}</p>
            </div>


            <h3>Program</h3>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">Name</label>
                    <input type="text" class="form-control" name="inputname"
                </div>
                <div class="form-group col-md-6">
                    <label for="inputaddress">Adress</label>
                    <input type="text" class="form-control" name="inputaddress"
                </div>
                <p>{{errorname}}</p>
            </div>


            <h3>Program</h3>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">Name</label>
                    <input type="text" class="form-control" name="inputname"
                </div>
                <div class="form-group col-md-6">
                    <label for="inputaddress">Adress</label>
                    <input type="text" class="form-control" name="inputaddress"
                </div>
                <p>{{errorname}}</p>
            </div>


            <h3>Program</h3>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">Name</label>
                    <input type="text" class="form-control" name="inputname"
                </div>
                <div class="form-group col-md-6">
                    <label for="inputaddress">Adress</label>
                    <input type="text" class="form-control" name="inputaddress"
                </div>
                <p>{{errorname}}</p>
            </div>


            <h3>Program</h3>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">Name</label>
                    <input type="text" class="form-control" name="inputname"
                </div>
                <div class="form-group col-md-6">
                    <label for="inputaddress">Adress</label>
                    <input type="text" class="form-control" name="inputaddress"
                </div>
                <p>{{errorname}}</p>
            </div>

            <button type="submit" class="btn btn-default btn-light my-4">Save</button>
        </form>
    </div>
    <a href="/">Return</a>
</body>
