<!DOCTYPE html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
  <Title> Credits </Title>
</head>
<div id=box align=center>
  <h1 align=center> Οι δημιουργοί </h1>
  <br>
  <h2 align=center>Δρυς-Πεντζάκης Οδυσσεύς ΑΜ: 03119192</h2>
  <h2 align=center>Κατσιγιάννης Κωνσταντίνος ΑΜ: 03119127</h2>
  <h2 align=center>Μαρκαντωνάτος Γεράσιμος ΑΜ: 03119149</h2>
  <a href="/">Return</a>
</div>
<br>
<img id=bg align=center />
<body bgcolor="#439900">
  <body align=center>
      <img id="backdrop-img" src="./../static/images/tonisi.jpg" alt="">
  </body>

</body>
