<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
        <Title> Entries for most popular field </Title>
    </head>
    <h1> Κάποια πεδία έχουν γίνει δημοφιλή, οπότε δίνεται η δυνατότητα να επιλέξετε παρακάτω το πεδίο που θέλετε και να εμφανιστούν τα έργα που χρηματοδοτούνται σε αυτό το πεδίο και οι ερευνητές που ασχολούνται με αυτό το τελευταίο έτος.</h1>
    <body bgcolor="#b3d9ff" >

      <!-- <form method="post" onsubmit="">
        <p>
          {%for option in field%}
          <input type="radio" id=1 name="field" value="{{option[0]}}">
          <label for=1>{{option[0]}}</label><br>
          {%endfor%}
          <input type=submit name="field" value=Submit>
        </p>
      </form> -->

      <form method="post" onsubmit="">
        <p>
          <label for="cars">Choose a field:</label>

          <select name="field" id="field">
            <option value="Submit">--Choose a field--</option>
            {%for option in field%}
            <option value="{{option[0]}}">{{option[0]}}</option>
            {%endfor%}
          </select>

          <input type=submit name="field" value=Submit>
        </p>
      </form>

      <p> Chosen field: {{chosen}} </p>


    <table border=1>
        {% for option in values %}
        <tr>
            <td>{{option[0]}} </td>
            <td>{{option[1]}} </td>
        </tr>
        {% endfor %}
    </table>

    <a href="/">Return</a>
</body>
