<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
        <Title>Organisations with same number of projects</Title>
    </head>
    <h1>Παρακάτω εμφανίζονται οι οργανισμοί που έχουν λάβει τον ίδιο αριθμό έργων σε διάστημα δύο συνεχόμενων ετών, με τουλάχιστον 10 έργα ετησίως. Εμφανίζεται το όνομα του οργανισμού, τα δύο έτη και ο αριθμός των έργων.</h1>
    <body bgcolor="#b3d9ff" >
    <table border=1>
        {% for value in values %}
        <tr>
            <td>{{value[0]}} </td>
            <td>{{value[1]}} </td>
            <td>{{value[2]}} </td>
            <td>{{value[3]}} </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Return</a>
</body>
