<!DOCTYPE html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
  <Title> Top pairs of fields</Title>
</head>
<h1> Πολλά έργα είναι διεπιστημονικά. Παρακάτω φαίνονται τα 3 κορυφαία ζεύγη επιστημονικών πεδίων που εμφανίστηκαν κοινά σε έργα (ενεργά και μη). </h1>

<body bgcolor="#b3d9ff">
  <table border=1>
    {% for name in pairnames %}
    <tr>
      <td>{{name[0]}} </td>
      <td>{{name[1]}} </td>
    </tr>
    {% endfor %}
  </table>
  <a href="/">Return</a>
</body>
