<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
        <Title> Researchers working on 5 or more projects with no deliverables</Title>
    </head>
    <h1> Παρακάτω φαίνονται οι ερευνητές που εργάζονται σε 5 ή περισσότερα έργα χωρίς παραδοτέα, και ο αριθμός των έργων στα οποία εργάζονται </h1>
    <body bgcolor="#b3d9ff" >
    <table border=1>
        {% for name in projects %}
        <tr>
            <td>{{name[0]}} </td>
            <td>{{name[1]}} </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Return</a>
</body>
