#title{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    border-radius: 10px;
    border-color: black;
}



.links{
    text-align: center;
}

#error{
    color: #DC143C;
}

#box{
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  border-color: black;
  width: 500px;
}

#bg{
  background-image: url(tonisi.jpg);
}
